<div class="pingsafe-mobile-wrapper">
  <div class="pingsafe-form-container">
    <div class="pingsafe-form-card">
      <div class="pingsafe-form-header">
      <h2 class="pingsafe-form-title">Change your password</h2>
       </div>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, , class: "pingsafe-form" }) do |f| %>
  <%= f.error_notification class: "pingsafe-form-error" %>

  <div class="pingsafe-form-inputs">
    <div class="pingsafe-form-group">

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

            <%= f.label :password, class: 'pingsafe-form-label' do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"/>
                <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
              </svg>
              <span>Password</span>
            <% end %>
            <%= f.input_field :password,
                          required: true,
                          placeholder: "Enter your password",
                          class: 'pingsafe-form-input',
                          input_html: { autocomplete: "new-password" } %>
            <% if @minimum_password_length %>
              <p class="pingsafe-form-hint">Minimum <%= @minimum_password_length %> characters</p>
            <% end %>
            <%= f.error :password, class: 'pingsafe-input-error' %>
          </div>

          <div class="pingsafe-form-group">
            <%= f.label :password_confirmation, class: 'pingsafe-form-label' do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"/>
                <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
              </svg>
              <span>Confirm Password</span>
            <% end %>
            <%= f.input_field :password_confirmation,
                          required: true,
                          placeholder: "Confirm your password",
                          class: 'pingsafe-form-input',
                          input_html: { autocomplete: "new-password" } %>
            <%= f.error :password_confirmation, class: 'pingsafe-input-error' %>
          </div>

        </div>

        <div class="pingsafe-form-actions">
    <%= f.button :submit, "Change my password", class: 'pingsafe-form-submit' %>
  </div>
<% end %>

   <div class="pingsafe-form-links">
        <%= render "devise/shared/links" %>
      </div>
</div>
