<div class="pingsafe-mobile-wrapper">
    <div class="pingsafe-faq-container">
      <div class="pingsafe-form-ping-header">
        <%= link_to profile_path, class: 'pingsafe-back-btn' do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="15 18 9 12 15 6"/>
          </svg>
        <% end %>
        <h2 class="pingsafe-form-ping-title">Our Partners</h2>
        <div style="width: 40px;"></div>
      </div>
   <div class="pingsafe-levels-list">

<div class="card-product d-flex">
    <%= asset_path "lewagon_logo.png", alt: "Le Wagon Logo" %>
  <div class="card-product-infos">
    <h2>Le Wagon</h2>
    <p>The best <strong>web development bootcamp</strong> in the universe.</p>
  </div>
</div>

<div class="card-product d-flex">
    <%= asset_path "sara.jpg", alt: "Sara" %>
  <div class="card-product-infos">
    <h2>Sara Spadari</h2>
  </div>
</div>

<div class="card-product d-flex">
    <%= asset_path "matteo.jpg", alt: "Matteo" %>
  <div class="card-product-infos">
    <h2>Matteo Garbugli</h2>
  </div>
</div>

<div class="card-product d-flex">
    <%= asset_path "victor.jpg", alt: "Victor" %>
  <div class="card-product-infos">
    <h2>Victor Dejean</h2>
  </div>
</div>


</div>
  <div class="pingsafe-lower-panel">
<div class="pingsafe-footer" data-map-footer-target="footer">
  <%= render "shared/footer2" %>
</div>
</div>
