<!DOCTYPE html>
<html>
  <head>
    <title>PingSafe</title>
        <meta name="theme-color" content="#1e3a5f">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<meta name="mobile-web-app-capable" content="yes">
<%= tag.link rel: "manifest", href: webmanifest_path(format: :json) %>
<%= tag.link rel: "icon", href: image_url("app-icon.png"), type: "image/png" %>
<%= tag.link rel: "apple-touch-icon", href: image_url("app-icon.png") %>

<%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="pingsafe-mobile-app-container">
      <div class="pingsafe-content-wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
